@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Mukta:wght@400;500;600;700&display=swap');

$lora-font: 'Lora', serif;
$mukta-font: 'Mukta', sans-serif;
$pink: #ffe1e1;
$blue: #e3eeff;
$green: #e3ffea;
$mint: #c7f9e4;
$orange: #ffe2b3;
$yellow:#ffffe3; 
$grey: #fafafa;
$darkgrey: #7D7D7D;
$heading-size: 3.3rem;
$content-size: 1.2rem;
$link-size: 1.3rem;
$space: 1.8rem;
$side-padding: 10rem;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    width: 12rem;
    padding: 1rem;
    font-family: $lora-font;
    font-size: $link-size;
    margin-right: 1.5rem;
    cursor: pointer;

    &:hover {
        filter: brightness(90%);
    }
}


