@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Mukta:wght@400;500;600;700&display=swap');

$lora-font: 'Lora', serif;
$mukta-font: 'Mukta', sans-serif;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style:none;
}

.btn {
    border: none;
    width: 10rem;
    padding: 1rem;
    font-family: $lora-font;
}