.hamburger {
    cursor:pointer;
    position: relative;
    width: 25px;
    height: 25px;
    display: none;


    .line {
        position: absolute;
        width: 100%;
        height: 2.2px;
        border-radius: 10px;
        background-color: #000;
        transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
        -moz-transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
        -webkit-transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
        -ms-transition: all cubic-bezier(0.25, 0.1, 0.25, 1.55) 0.5s;
    }

    &.close{

        .line1 {
            transform: rotate(45deg);
            top: 48%;
          }

        .line2, .line3 {
            transform: rotate(-45deg);
            top: 48%;
        }
    } 
  }

  
  .line1 {
    top: 18%;
  }
  
  .line2 {
    top: 48%;
  }
  
  .line3 {
    top: 78%;
  }

