@import 'config';

@include media-lg {

    .classes {
        .class-list {
            flex-direction: column;
        }
    }

}


@include media-md {

    .hamburger {
        display: block;
    }
    nav {
        justify-content: space-between;
        z-index: 20;
      }
      
      .nav-items {
        position: absolute;
        right: 0px;
        height: 100vh;
        background-color:#E6EAF6;
        top: 84px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
      }
      .nav-active {
        transform: translateX(0%);
      }
    
}


   
