
.signup-modal {
    display: none;
    background-color: #FFFFFA;
    width: 60%;
    min-width: 20rem;
    height: 40rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5rem;
    z-index: 20;
    
    .container{
        position: relative;

        .signup-close-btn {
            position: absolute;
            width: 2rem;
            top: 0;
            right: 10px;
            cursor: pointer;
        }

        .logo-container {
            display: flex;
            justify-content: center;
      
            img {
                width: 15rem;
            }
        }
        
        h3 {
            @include custom-h3;
            margin-bottom: 1rem;
        }
    
        .signup-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
    
            form {
                display: flex;
                flex-direction: column; 
                width: 20rem;
                margin-bottom: 2rem;
    
                input {
                    border: 3px solid #ccc;
                    border-radius: 5px;
                    padding: 0.3rem;
                }
                label {
                    font-family: $mukta-font;
                }
            }
    
            .signup-btn-container {
                width: 20rem;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                button {
                    cursor: pointer;
                    font-family: $mukta-font;
                    font-size: 1.3rem;
                    border: none;
                    border-radius: 0.2rem;
                    background-color: $green;
                    width: 80%;
                    margin-bottom: 0.5rem;
                }
    
                span {
              
                    font-family: $mukta-font;
    
                    a {
                        text-decoration: underline;
                        color:black;
                    }
                }
            }
    }
    }}